#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.description {
  margin: 2em 0;
  color: grey;
}

.link-container {
  border-radius: 8px;
  margin: 2em auto;
  min-height: 3em;
  width: fit-content;
  max-width: 30em;
  background-color: #f9f9f9;
  align-content: center;
  align-items: center;
}

.link-text{
  color: grey;
  padding: 0 1em;
}

.input-container {
  border-radius: 10px;
  margin: 2em 0;
  padding: 1em;
  height: 15em;
  width: 100%;
  background-color: #f9f9f9;
  border: none;
  color: grey;
}

.input-container textarea {
  border: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-size: inherit;
  overflow-wrap: break-word;
  resize: none;
}


.text-container-adaptive{
  border-radius: 10px;
  margin: 2em auto;
  padding: 1em;
  min-height: 3em;
  height: fit-content;
  width: 80%;
  background-color: #f9f9f9;
  text-align: start;
  border: none;
  color: grey;
  overflow: auto;
  word-break: break-all;
}

.error-num{
    color: #646cff;
    font-size: 5em;
  margin: auto;
}

.error-text{
    color: red;
    font-size: 1em;
}