:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1;
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  outline: none;
  padding: 0.6em 1.2em;
  margin: 1em 2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #f9f9f9;
  background-color: #646cff;
  cursor: pointer;
  transition: border-color 0.25s;
}

.button:hover {
  scale: 1.1;
}

.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

@media (orientation: portrait) {
  body {
      width: 70%;
      display: flex;
      place-items: center;
      align-content: center;
      justify-content: center;
      margin: 0 auto;
  }

}
